@import '~antd/dist/antd.css';

.app {
  padding: 20px 30px;
}

.app-header {
  font-size: 26px;
  text-align: center;
  background-color: #fff;
}

.operation {
  margin-top: 15px;
  margin-bottom: 15px;
}

.collection-modal .ant-modal-header, .ant-modal-footer {
  text-align: center;
}
